<div id="home">
    <div class= "page-header">
        <h1 style="text-align: center">Welcome to the UCSD 2022 Bootcamp Tech Blog!</h1>
    </div>
    <div>
    <p style="text-align: center">
        <br>
        To access the community, please make sure that you login using the "Login" button
        located at the top left hand side of the page. 
        </br>
        <br>
        If this is your first time visiting this page, please make sure that you create an
        account using the "Register" button located on the top left hand side of the page.
        </br>
    </p>
    </div>
    <div>
        <h3 style="text-align: center">Happy Coding!</h3> 
    </div>

</div>